<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="'aplicacion.nombre' | translate"></Label>
</ActionBar>

<StackLayout orientation="vertical" width="210" height="210" backgroundColor="lightgray">
    <Label class="action-bar-title" text="HOLAA" *ngIf="activo"></Label>
    <Button class="btn btn-primary btn-active" id="buttonMostrarLabel" text="Mostrar label"
            (tap)="mostrarLabel($event)"></Button>
    <Button class="btn btn-primary btn-active" id="buttonLogin" text="Tap me!" (tap)="login($event)"></Button>
</StackLayout>